@mixin markdown-typography {
  font-weight: 300;
  font-style: normal;
  font-family: $font-family-mono;
  color: getColor(text, primary);

  strong {
    font-weight: bold;
  }
}

@mixin markdown-headings {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family-headings;
    float: none;
    margin: 0;
    padding: 0;
  }

  h1 {
    position: relative;
    display: table-cell;
    padding: $spacing-m 0 $spacing-m * 2.2;
    overflow: hidden;

    &:after {
      font-family: $font-family-mono;
      content: "====================================================================================================";
      position: absolute;
      bottom: $spacing-m;
      left: 0;
    }

    & + * {
      margin-top: 0;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    margin-bottom: $spacing-m;

    &:before {
      content: "## ";
      display: inline;
    }
  }

  h3:before {
    content: "### ";
  }

  h4:before {
    content: "#### ";
  }

  h5:before {
    content: "##### ";
  }

  h6:before {
    content: "###### ";
  }
}

@mixin markdown-hr {
  hr {
    position: relative;
    height: $spacing-m;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    border: 0;
    margin-bottom: $spacing-m;
    background-color: transparent;

    &:after {
      content: "------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------";
      position: absolute;
      top: 0;
      left: 0;
      font-size: $font-base-size + pr;
      line-height: 1lh;
      width: 100%;
      word-wrap: break-word;
    }
  }
}

@mixin markdown-blockquote {
  blockquote {
    float: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: $spacing-m;
    margin-bottom: $spacing-m;
    position: relative;
    padding-left: 2ch;
    overflow: hidden;

    &:after {
      content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";
      white-space: pre;
      position: absolute;
      top: 0;
      left: 0;
      font-size: $font-base-size + pr;
      line-height: 1lh;
    }
  }
}

@mixin markdown-paragraph {
  word-wrap: break-word;

  p {
    float: none;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    // margin-top: $spacing-m;
    margin-bottom: 1lh;
  }
}

@mixin markdown-list {
  ul,
  ol {
    margin-top: $spacing-m;
    margin-bottom: $spacing-m;
  }

  li {
    position: relative;
    display: block;
    padding-left: 4ch;

    p {
      margin-bottom: 0.5lh;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  ul > li:after {
    content: "*";
  }

  ol {
    counter-reset: ol;
  }

  ol > li:after {
    content: counter(ol) ".";
    counter-increment: ol;
  }
}
